<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="pansiyon_uygulaması.Properties.Settings.pansiyonKayitConnectionString"
            connectionString="Data Source=DESKTOP-PUBLIRN\SQLEXPRESS;Initial Catalog=pansiyonKayit;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>